* {
  padding: 0;
  margin: 0;
}
html, body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

body {
  padding: 30px;
  background-color: #e37151;
  color: #ffffff;
}

h1, h2, h3 {
  text-align: center;
  color: #FFFFFF;
  text-shadow: 1px 1px 1px #333;
}

footer {
  color: #ffffff;
  border-top: 2px solid #fff;
  width: 100%;
  text-align: center;
  padding-top: 15px;
}

footer table td {
  width: 33.33%;
}

table {
  width: 100%;
}

.table_data {
  border: 1px solid #fff;
  border-collapse: collapse;
}
.table_data td,
.table_data th {
  border: 1px solid #fff;
  padding: 5px;
}
